#main-header{
	text-align: center;
	background-color: #800000;

}
#navbar{
	
	background-color: #806D7E
}

#navbar ul{
	padding: 0;
	list-style: none;
}

#navbar li{
	display: inline;

	padding: 20px;

}

#navbar a{
	color: white;
	text-decoration: none;
}


.container{
	width: 80%;
	margin:0 20px;
	border: 0px 20px:
	padding: 0 20px; 
}